{% extends 'baseall.html' %}
{% load static %}

{% block extracss %}
    <style>
        .extra {
            width: 312px;
            margin-top: 10px;
        }

        .inputextra {
            width: 95%;
            margin-top: 17px;
            height: 47px;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- START SECTION SEARCH AREA -->
    <section class="main-search-field">
        <div class="container">
            <h3>Find Your Dream House</h3>
            <form method="post" id="webpropertyform" data-url="{% url 'ajax_load_subtypes' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="at-col-default-mar">
                            <label style="color: white">City:</label> {{ webform.City }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="at-col-default-mar">
                            <label style="color: white">Property Type:</label>{{ webform.PropertyType }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="at-col-default-mar">
                            <div class="at-col-default-mar">
                                <label style="color: white">Sub-Type:</label> {{ webform.SubType }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="at-col-default-mar no-mb">
                            {{ webform.MinPrice }}
                        </div>
                    </div>
                    <div class="col-lg-4 no-pds mb-4">
                        <div class="at-col-default-mar no-mb">
                            {{ webform.MaxPrice }}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div style="margin-top: 7%" class="at-col-default-mar no-mb">
                            <button class="btn btn-default hvr-bounce-to-right" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- END SECTION SEARCH AREA -->
    <!-- START SECTION SEARCH AREA -->
    <section class="main-search-field" style="background-color: #e6e6e6; padding: 0.2rem 0;">
        <div class="container">
            <div class="listing-title-bar">
                <div class="text-heading text-left" style="margin-top: 1rem">
                    <p style="margin-bottom: 0px"><a href="{% url 'home' %}">Home </a><span><i
                            class="fas fa-angle-right"></i> Properties For Sale</span>
                    </p>
                </div>
                <h3 style="color: black">Properties For Sale</h3>
            </div>

        </div>
    </section>
    <!-- END SECTION SEARCH AREA -->

    <!-- START SECTION PROPERTIES LISTING -->
    <section class="properties-list full featured portfolio blog">
        <div class="container">
            <div class="col-12 px-0 ">
                <section class="headings-2 pt-0">
                    <div class="pro-wrapper">
                        <div class="detail-wrapper-body">
                            <div class="listing-title-bar">
                                <div class="text-heading text-left">
                                    <p class="font-weight-bold mb-0 mt-3">{{ results }} Search results</p>
                                </div>
                            </div>
                        </div>
                        <div class="cod-pad single detail-wrapper mr-2 mt-0 d-flex justify-content-md-end align-items-center">
                            <div class="input-group border rounded input-group-lg w-auto mr-4">
                                <label class="input-group-text bg-transparent border-0 text-uppercase letter-spacing-093 pr-1 pl-3"
                                       for="inputGroupSelect01"><i
                                        class="fas fa-align-left fs-16 pr-2"></i>Sortby:</label>
                                <select class="form-control border-0 bg-transparent shadow-none p-0 selectpicker sortby"
                                        data-style="bg-transparent border-0 font-weight-600 btn-lg pl-0 pr-3"
                                        id="inputGroupSelect01" name="sortby">
                                    <option selected>Top Selling</option>
                                    <option value="1">Most Viewed</option>
                                    <option value="2">Price(low to high)</option>
                                    <option value="3">Price(high to low)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row featured portfolio-items">

                    {% for obj in obj %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="item col-lg-4 col-md-12 col-xs-12 landscapes sale pr-0 pb-0 my-44 ft">
                                <div class="project-single mb-0 bb-0">
                                    <div class="project-inner project-head">
                                        <div class="homes">
                                            <!-- homes img -->
                                            <a href="{% url 'detail' obj.pk %}" class="homes-img">
                                                <div class="homes-tag button alt featured">Sale</div>
                                                <div class="homes-tag button sale rent">{{ obj.SubType }}</div>
                                                <img style="width: 365px; height: 300px" src="{{ obj.BannerImage.url }}"
                                                     alt="home-1"
                                                     class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="button-effect">
                                            <a href="{% url 'detail' obj.pk %}" class="btn"><i
                                                    class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- homes content -->
                            <div class="col-lg-8 col-md-12 homes-content pb-0 my-44 ft mb-44"
                                 style="border: 1px solid #e6e6e6"
                                 style="background-color: white; !important;">
                                <!-- homes address -->
                                <h3><a href="{% url 'detail' obj.pk %}">{{ obj.Title }}</a></h3>
                                <p class="homes-address mb-3">
                                    <a href="{% url 'detail' obj.pk %}">
                                        <i class="fa fa-map-marker"></i><span>{{ obj.Address }}</span>
                                    </a>
                                </p>
                                <!-- homes List -->
                                <ul class="homes-list clearfix">
                                    <li>
                                    <span> <i class="fa fa-bed" aria-hidden="true"></i>
                                        {{ obj.Beds }} Beds</span>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-bath" aria-hidden="true"></i> {{ obj.Baths }} Baths</span>
                                    </li>
                                    <li>
                                    <span><i class="fa fa-object-group"
                                             aria-hidden="true"></i> {{ obj.Area }} sq mt</span>
                                    </li>
                                    <li>
                                        {% if obj.garage %}
                                            <span><i class="fas fa-warehouse"
                                                     aria-hidden="true"></i> Garages: Yes</span>
                                        {% else %}
                                            <span><i class="fas fa-warehouse" aria-hidden="true"></i> Garages: No</span>
                                        {% endif %}
                                    </li>
                                </ul>
                                <!-- Price -->
                                <div class="footer" style="margin-top: 7%">
                                    <div style="margin-top: 2%"></div>
                                    <a style="background-color: white ; color: black; border: 1px solid #EE7133" class="btn btn-primary btn-anis "><i
                                    class="fa fa-phone" aria-hidden="true"></i>Call</a>
                                    <a style="background-color: white ; color: black; border: 1px solid #EE7133" class="btn btn-primary btn-anis "><i
                                        class="fa fa-envelope"  aria-hidden="true"></i>
                                        Email
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="item col-lg-4 col-md-12 col-xs-12 landscapes sale pr-0 pb-0">
                                <div class="project-single mb-0 bb-0">
                                    <div class="project-inner project-head">
                                        <div class="homes">
                                            <!-- homes img -->
                                            <a href="single-property-1.html" class="homes-img">
                                                <div class="homes-tag button alt featured">Sale</div>
                                                <div class="homes-tag button sale rent">{{ obj.SubType }}</div>
                                                <img style="width: 365px; height: 300px" src="{{ obj.BannerImage.url }}"
                                                     alt="home-1"
                                                     class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="button-effect">
                                            <a href="{% url 'detail' obj.pk %}" class="btn"><i
                                                    class="fa fa-link"></i></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- homes content -->
                            <div class="col-lg-8 col-md-12 homes-content pb-0 mb-44">
                                <!-- homes address -->
                                <h3><a href="{% url 'detail' obj.pk %}">{{ obj.Title }}</a></h3>
                                <p class="homes-address mb-3">
                                    <a href="{% url 'detail' obj.pk %}">
                                        <i class="fa fa-map-marker"></i><span>{{ obj.Address }}</span>
                                    </a>
                                </p>
                                <!-- homes List -->
                                <ul class="homes-list clearfix">
                                    <li>
                                    <span> <i class="fa fa-bed" aria-hidden="true"></i>
                                        {{ obj.Beds }} Beds</span>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-bath" aria-hidden="true"></i> {{ obj.Baths }} Baths</span>
                                    </li>
                                    <li>
                                    <span><i class="fa fa-object-group"
                                             aria-hidden="true"></i> {{ obj.Area }} sq mt</span>
                                    </li>
                                    <li>
                                        {% if obj.garage %}
                                            <span><i class="fas fa-warehouse"
                                                     aria-hidden="true"></i> Garages: Yes</span>
                                        {% else %}
                                            <span><i class="fas fa-warehouse" aria-hidden="true"></i> Garages: No</span>
                                        {% endif %}
                                    </li>
                                </ul>
                                <!-- Price -->
                                <!-- Price -->
                                <div class="footer" style="margin-top: 7%">
                                    <div style="margin-top: 2%"></div>
                                    <a style="background-color: white ; color: black; border: 1px solid #EE7133" class="btn btn-primary btn-anis "><i
                                    class="fa fa-phone" aria-hidden="true"></i>Call</a>
                                    <a style="background-color: white ; color: black; border: 1px solid #EE7133" class="btn btn-primary btn-anis "><i
                                        class="fa fa-envelope"  aria-hidden="true"></i>
                                        Email
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                <nav aria-label="..." class="pt-0">
                    <ul class="pagination lis-view">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <!-- END SECTION PROPERTIES LISTING -->

{% endblock %}


{% block extrajs %}
    <script>
        $("#id_PropertyType").change(function () {
            var url = $("#webpropertyform").attr("data-url");  // get the url of the `load_cities` view
            var countryId = $(this).val();  // get the selected country ID from the HTML input
            console.log("12345")
            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'country': countryId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_SubType").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>

{% endblock %}