{% extends 'base.html' %}
{% load static %}
{% block extracss %}
    <style>
        .line {

            /* Increase this as per requirement */
            padding-bottom: 5px;
            border-bottom-style: solid;
            border-bottom-width: 1.1px;
            width: fit-content;
            color: #EE7133;
        }

        .line:hover {

            /* Increase this as per requirement */
            padding-bottom: 5px;
            border-bottom-style: solid;
            border-bottom-width: 1.1px;
            width: fit-content;
            color: black;
        }

        .viewall {
            color: black;
        }

        .viewall:hover {
            color: #EE7133;
        }

    </style>
{% endblock %}


{% block content %}

    <!-- STAR HEADER IMAGE -->
    <section class="header-image home-18 d-flex align-items-center" id="slider">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="left wow fadeInLeft">
                        <h1>
                            <div class='console-container'><span id='text'></span>
                                <div class='console-underscore' id='console'></div>
                            </div>
                        </h1>
                        <p><strong>Trusted Real Estate Consultants in Jaipur since 11 Years..</strong></p>
                        <br>
                        {#                        <button style="margin-right: 1%" class="btn btn-secondary btn-anis">BUY</button>#}
                        {#                        <button style="margin-right: 1%" class="btn btn-secondary btn-anis">SELL</button>#}
                        {#                        <button style="margin-right: 1%" class="btn btn-secondary btn-anis">INVEST</button>#}
                    </div>
                </div>
                <div class="col-lg-6 google-maps home-18" data-aos="fade-left">
                    <div class="filter">
                        <div class="filter-toggle d-lg-none d-sm-flex"><i class="fa fa-search"></i>
                            <h6>START SEARCHING</h6></div>
                        <form method="post" id="webpropertyform" data-url="{% url 'ajax_load_subtypes' %}">
                            {% csrf_token %}
                            <div class="filter-item">
                                <label><strong>City</strong></label>
                                {{ webform.City }}
                            </div>
                            <div class="filter-item">
                                <label><strong>Type</strong></label>
                                {{ webform.Type }}
                            </div>
                            <div class="filter-item">
                                <label><strong>Sub-Type</strong></label>
                                {{ webform.Subtype }}
                            </div>

                            <div class="clear"></div>
                            <div class="filter-item">
                                <label><strong>Price</strong></label>
                                {{ webform.MinPrice }}
                                {{ webform.MaxPrice }}
                            </div>
                            <div class="filter-item">
                                <label class="label-submit p-0 m-0">Submit</label>
                                <br/>
                                <input type="submit" class="btn btn-dark btn-anis"
                                       style="background-color: black; color: white"
                                       value="SEARCH PROPERTY">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HEADER IMAGE -->

    <!-- START SECTION PROPERTIES FOR SALE -->
    <section class="recently portfolio bg-white-1 home18">
        <div class="container">
            <div class="sec-title">

                <h2 class="line"><span>Featured Properties</span>
                </h2>

            </div>
            <div class="row portfolio-items">
                {% for obj in obj %}
                    <div class="item col-lg-4 col-md-6 col-xs-12 people rent" style="margin-bottom: 15px">
                        <div class="project-single">
                            <div class="project-inner project-head">
                                <div class="homes">
                                    <!-- homes img -->
                                    <a href="{% url 'detail' obj.pk %}" class="homes-img">
                                        <div class="homes-tag button alt featured">Sale</div>
                                        <div class="homes-tag button sale rent">{{ obj.SubType }}</div>
                                        <img src="{{ obj.BannerImage.url }}"
                                             alt="home-1" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <!-- homes content -->
                            <div class="homes-content" style="background-color: #edefee">
                                <!-- homes address -->
                                <h3><a href="{% url 'detail' obj.pk %}">{{ obj.Title }}</a></h3>
                                <p class="homes-address mb-1" style="margin-bottom: 20px">
                                    <a href="{% url 'detail' obj.pk %}">
                                        <i class="fa fa-map-marker"></i><span>{{ obj.Address }}</span>
                                    </a>
                                </p>
                                <div class="footer" style="margin-bottom: -10px">
                                    <div class="row">
                                        {% if obj.Beds > 0 %}
                                            <div class="col-4" style="border-right: 1px solid #c1c1c1">
                                                <i class="fa fa-bed" style="color: #EE7133" aria-hidden="true"></i>
                                                {{ obj.Beds }}
                                            </div>
                                        {% endif %}

                                        {% if obj.Beds > 0 %}
                                            <div class="col-3" style="border-right: 1px solid #c1c1c1">
                                                <i class="fa fa-bath" style="color: #EE7133" aria-hidden="true"></i>
                                                {{ obj.Baths }}
                                            </div>
                                        {% endif %}
                                        <div class="col-5">
                                            <i class="fa fa-object-group" style="color: #EE7133" aria-hidden="true"></i>
                                            {{ obj.Area }} sq mt
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
            <div style="float:right;" class="bg-all">
                <a class="line" style="text-decoration: none" href="{% url 'buy' %}"><span class="viewall"> View All Properties
                    <i class="fa fa-arrow-right"></i></span></a>
            </div>
        </div>
    </section>
    <!-- END SECTION PROPERTIES FOR SALE -->
    <!-- START SECTION PROPERTIES FOR SALE -->
    <section class="recently portfolio bg-white-1 home18">
        <div class="container">
            <div class="sec-title">

                <h2 class="line"><span>Title of Your Choice</span>
                </h2>

            </div>
            <div class="row portfolio-items">
                {% for obj in obj %}
                    <div class="item col-lg-4 col-md-6 col-xs-12 people rent" style="margin-bottom: 15px">
                        <div class="project-single">
                            <div class="project-inner project-head">
                                <div class="homes">
                                    <!-- homes img -->
                                    <a href="{% url 'detail' obj.pk %}" class="homes-img">
                                        <div class="homes-tag button alt featured">Sale</div>
                                        <div class="homes-tag button sale rent">{{ obj.SubType }}</div>
                                        <img src="{{ obj.BannerImage.url }}"
                                             alt="home-1" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <!-- homes content -->
                            <div class="homes-content" style="background-color: #edefee">
                                <!-- homes address -->
                                <h3><a href="{% url 'detail' obj.pk %}">{{ obj.Title }}</a></h3>
                                <p class="homes-address mb-1">
                                    <a href="{% url 'detail' obj.pk %}" >
                                        <i class="fa fa-map-marker"></i><span>{{ obj.Address }}</span>
                                    </a>
                                </p>
                                <div class="footer" style="margin-bottom: -10px">
                                    <div class="row">
                                        {% if obj.Beds > 0 %}
                                            <div class="col-4" style="border-right: 1px solid #c1c1c1;" >
                                                <i class="fa fa-bed" style="color: #EE7133" aria-hidden="true"></i>
                                                {{ obj.Beds }}
                                            </div>
                                        {% endif %}

                                        {% if obj.Beds > 0 %}
                                            <div class="col-3" style="border-right: 1px solid #c1c1c1">
                                                <i class="fa fa-bath" style="color: #EE7133" aria-hidden="true"></i>
                                                {{ obj.Baths }}
                                            </div>
                                        {% endif %}
                                        <div class="col-5">
                                            <i class="fa fa-object-group" style="color: #EE7133" aria-hidden="true"></i>
                                            {{ obj.Area }} sq mt
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div style="float:right;" class="bg-all">
                <a class="line" style="text-decoration: none" href="{% url 'buy' %}"><span class="viewall"> View All Properties
                    <i class="fa fa-arrow-right"></i></span></a>
            </div>
        </div>
    </section>
    <!-- END SECTION PROPERTIES FOR SALE -->


    <!-- START SECTION WHY CHOOSE US -->
    <section class="how-it-works bg-white-1 home18">
        <div class="container">
            <div class="sec-title">
                <h2 class="line"><span>Why </span>Choose Us</h2>
            </div>
            <div class="row service-1" style="align-content: center">
                <article style="margin-right: 5%" class="col-lg-3 col-md-3 col-xs-12 serv">
                    <div class="serv-flex">
                        <div class="art-1 img-13">
                            <img src="{% static 'images/icons/icon-1.svg' %}" alt="">
                            <h3>Wide Renge Of Properties</h3>
                        </div>

                    </div>
                </article>
                <article style="margin-right: 5%" class="col-lg-3 col-md-3 col-xs-12 serv">
                    <div class="serv-flex">
                        <div class="art-1 img-14">
                            <img src="{% static 'images/icons/icon-2.svg' %}" alt="">
                            <h3 style="padding-bottom: 10.5%">Trusted by thousands</h3>
                        </div>

                    </div>
                </article>
                <article style="margin-right: 5%" class="col-lg-3 col-md-3 col-xs-12 serv mb-0 pt">
                    <div class="serv-flex arrow">
                        <div class="art-1 img-15">
                            <img src="{% static 'images/icons/icon-3.svg' %}" alt="">
                            <h3 style="padding-bottom: 10.5%">24/7 support</h3>
                        </div>

                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- END SECTION WHY CHOOSE US -->




{% endblock %}


{% block extrajs %}
    <script>
        $("#id_Type").change(function () {
            var url = $("#webpropertyform").attr("data-url");  // get the url of the `load_cities` view
            var countryId = $(this).val();  // get the selected country ID from the HTML input
            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'country': countryId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_Subtype").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>


    <script>
        // function([string1, string2],target id,[color1,color2])
        consoleText(['Find Your Perfect Home Here !', 'Your One Stop Shop For Residential & Commercial Investments'], 'text', ['white', 'white']);

        function consoleText(words, id, colors) {
            if (colors === undefined) colors = ['#fff'];
            var visible = true;
            var con = document.getElementById('console');
            var letterCount = 1;
            var x = 1;
            var waiting = false;
            var target = document.getElementById(id)
            target.setAttribute('style', 'color:' + colors[0])
            window.setInterval(function () {

                if (letterCount === 0 && waiting === false) {
                    waiting = true;
                    target.innerHTML = words[0].substring(0, letterCount)
                    window.setTimeout(function () {
                        var usedColor = colors.shift();
                        colors.push(usedColor);
                        var usedWord = words.shift();
                        words.push(usedWord);
                        x = 1;
                        target.setAttribute('style', 'color:' + colors[0])
                        letterCount += x;
                        waiting = false;
                    }, 1000)
                } else if (letterCount === words[0].length + 1 && waiting === false) {
                    waiting = true;
                    window.setTimeout(function () {
                        x = -1;
                        letterCount += x;
                        waiting = false;
                    }, 4000)
                } else if (waiting === false) {
                    target.innerHTML = words[0].substring(0, letterCount)
                    letterCount += x;
                }
            }, 100)
            window.setInterval(function () {
                if (visible === true) {
                    con.className = 'console-underscore hidden'
                    visible = false;

                } else {
                    {#con.className = 'console-underscore'#}

                    visible = true;
                }
            }, 400)
        }
    </script>

{% endblock %}